{% extends 'blog/basic.html' %}
{% load static %}
{% block body %}
<div class="container my-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="{% static 'blog/img/aboutus_img.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Discover COL-WEB: Shaping Futures, Empowering Minds</h1>
          <p class="lead">Welcome to COLWEB, where academic excellence meets a vibrant community dedicated to shaping future leaders. Established with a vision to provide a transformative learning experience, COLWEB is committed to fostering intellectual growth, creativity, and a sense of social responsibility. Our distinguished faculty, state-of-the-art facilities, and diverse student body create a dynamic environment that encourages innovation and collaboration. At COLWEB, we believe in empowering minds to reach their full potential, preparing students not only for successful careers but also to make a positive impact on the world. Explore our academic programs, discover our rich campus life, and join us on a journey of knowledge, growth, and endless possibilities.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          </div>
        </div>
      </div>
    </div>
{% endblock %}
    