{% extends 'blog/basic.html' %}

{% block body %} 
<div class="container my-5">
  <h1 class='text-center'>Notices and Announcements</h1>
  
  {% for colnot in col_notice  %} 
<div class="card text-center my-5">
    <div class="card-header">
      NOTICE!
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ colnot.topic }}</h5>
      <p class="card-text">{{ colnot.desc }}</p>
      <a href="#" class="btn btn-primary">Mark as read</a>
    </div>
    <div class="card-footer text-muted">
      {{ colnot.date }}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}